<div class="widget-wrap">
    <h3 class="widget-title">Statistics</h3>
    <div class="widget widget-background1" align="center">   
      	<a href="https://s05.flagcounter.com/more/779"><img src="https://s05.flagcounter.com/count2/779/bg_3D3D3B/txt_FFFFFF/border_3D3D3B/columns_2/maxflags_64/viewers_0/labels_1/pageviews_1/flags_0/percent_1/" alt="shintaku.cc" border="0"></a>
    </div>
</div>