<div class="widget-wrap">
    <h3 class="widget-title">Links</h3>
    <div class="widget widget-background1">   
      	<ul>
		    <li>
		    	<a href="https://github.com/liangzhenduo0608" target="_blank" title="github.com"><i class="fa-github"></i> GitHub </a>
		    </li>
		      
	        <li>
	        	<a href="https://github.com/liangzhenduo0608/liangzhenduo0608.github.io" target="_blank" title="liangzhenduo0608.github.io"><i class="fa-github-square"></i> Mirror Site </a>
	        </li>
	          
	        <li>
	        	<a href="https://mahoucoder.com/" target="_blank" title="mahoucoder.com"><i class="fa-h-square"></i> 魔法コーダ </a>
	        </li>

		    <li>
		    	<a href="http://xzjqx.me/" target="_blank" title="xzjqx.me"><i class="fa-h-square"></i> 笑卒见清晰 </a>
		    </li>

	        <li>
	        	<a href="http://muyus.cc/" target="_blank" title="muyus.cc"><i class="fa-wordpress"></i> 暮雨今夕 </a>
	        </li>

	        <li>
	        	<a href="http://zhenlee.cn/" target="_blank" title="zhenlee.cn"><i class="fa-wordpress"></i> Fantasia </a>
	        </li>

	        <li>
	        	<a href="https://zhengdongjian.xyz/" target="_blank" title="zhengdongjian.xyz"><i class="fa-reorder"></i> Qyetfu </a>
	        </li>
    	</ul>
    </div>
</div>


</script>