.tagbox
  margin 2px
  color: #777;
  padding: 15px;
  border-radius: 3px;
  li
    line-height 28px
    i
      opacity 0.9
  &.inline
    li
      float left
  a
    border 1px dashed #BBB;
    border-radius: 3px;
    padding 2px 6px
    margin 3px
    background color-border
    display inline-block
    color color-default
    text-decoration none
    span
      vertical-align super
      font-size 0.8em
    &:hover
      background-color #397bdd
      color #FFF

