<div class="widget-wrap">
    <!--h3 class="widget-title">Ad</h3>
    <div class="widget widget-background1" align="center"-->
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- sidebar -->
		<ins class="adsbygoogle"
     		 style="display:block"
     		 data-ad-client="ca-pub-9920928489161252"
     		 data-ad-slot="8654446491"
     		 data-ad-format="auto"
     		 data-full-width-responsive="true"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
    <!--/div-->
</div>
