<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">Recents</h3>
    <div class="widget">
      <ul>
        <% site.posts.sort('date', -1).limit(10).each(function(post){ %>
          <li>
            <a class="text" href="<%- url_for(post.path) %>">
              <% if (post.icon) { %>
                <i class="<%= post.icon %>"></i> 
              <% } else { %>
                <i class="fa-paperclip"></i> 
              <% }%>
            <%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>