<div class="widget-wrap">
    <h3 class="widget-title">Reward</h3>
    <div class="widget widget-background1" align="center">
      	<img src="/images/alipay.png" alt="支付宝支付" width="220">
      	<img src="/images/wechat.png" alt="微信支付" width="220">
      	<a href="https://www.paypal.me/liangzhenduo" title="PayPal支付" onclick="javascript:window.open('https://www.paypal.me/liangzhenduo','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png" alt="PayPal支付" width="220"/></a>
    </div>
</div>