<div id="ukagaka_panel"></div>
<script src="<%- config.root %>js/jquery-ui.min.js"></script>
<script src="<%- config.root %>js/typed.js"></script>
<script src="<%- config.root %>js/ukagaka.js"></script>
<script type="text/javascript">$('#ukagaka_panel').ukagaka();</script>
