<div class="widget-wrap">
    <h3 class="widget-title">Time & Date</h3>
    <div class="widget widget-background1" align="center">   
      	<iframe src="https://freesecure.timeanddate.com/clock/i5lrxmvy/n646/tlcn/fn8/fs22/fcededed/tc3d3d3b/ftb/tt0/tw1/tm1/th1/ta1/tb4" frameborder="0" width="214" height="52"></iframe>
    </div>
</div>