#footer
  background: color-footer-background
  padding: 20px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      color: color-blue

#footer-info
  line-height: line-height
  font-size: 0.85em

.social-group
    font-size 2em
    margin 5px 0
    a
      padding 0 4px


[class^="fa-"],
[class*=" fa-"]
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
[class^="fa-"], [class*=" fa-"]
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  color: color-font
  &:hover
    color: color-blue
